language: minimal

services:
  - docker

install:
  - export RESOURCES_PATH="$TRAVIS_BUILD_DIR/buildSrc/src/main/resources"
  - source $RESOURCES_PATH/script/set_environment_variables.sh

before_script:
  - source $RESOURCES_PATH/script/vcs_connect.sh

script:
  - docker build --no-cache -f $RESOURCES_PATH/docker/Dockerfile . || exit 1
  - bash $RESOURCES_PATH/script/after_success.sh

after_failure:
  - IS_BUILD_SUCCESS=$FALSE
#  - bash ${BASH_PATH}/after_failure.sh

#after_success:
#   - bash $RESOURCES_PATH/script/after_success.sh

after_script:
  - bash $RESOURCES_PATH/script/after_script.sh
