name: Push workflow

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    env:
      GITHUB_OWNER: StanleyProjects
      GITHUB_REPO: KotlinJavaFXExtension
      RESOURCES_PATH: ./repository/buildSrc/src/main/resources
    steps:
    - if: github.event_name == `push`
      run: echo ::set-env name=GIT_SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
    - run: echo ${{ github.event.pull_request.head.ref }}
    - run: echo ${{ github.event.pull_request.base.ref }}
    - if: github.event_name == `pull_request`
      run: echo ::set-env name=GIT_SOURCE_BRANCH::${{ github.event.pull_request.head.ref }}
    - run: echo $GIT_SOURCE_BRANCH
    - run: git clone -q --depth=1 --branch=$GIT_SOURCE_BRANCH https://github.com/$GITHUB_OWNER/$GITHUB_REPO.git ./repository
    - working-directory: repository
      run: docker build --no-cache -f $RESOURCES_PATH/docker/Dockerfile .
